
{% load static %}

<!--
<h6><b> Its only me </b></h6>

<br>
<br>

<img src="{% static 'images/FotaMa.jpg' %}" >
-->

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomasz Łubkowski</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <div class=""row>
            <div class="col-md-3">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
    </div>
    
</body>
</html>